
{:criver-config { 

             ;; GitHub token based auth  (optional). Having authentification increase rate-limiting
             :oauth-token  "my-github-token"

             ;; full-repo-name: owner/repo-name,  events: this are the events which you are interested for
             ;; https://developer.github.com/v3/activity/events/
             ;; watch events concerning a repository
             :repository-events [
               {:full-repo-name "MalloZup/fullrocketmetal" :events["repository"] :exchange-name "metal"  },
               {:full-repo-name "MalloZup/missile" :events["repository"]} :exchange-name "neox",
             ],
             
            :message-broker {:type "rabbitmq" :config {
                                                       ;; init exchange names used by individual events
                                                       :exchange-names ["neox", "metal"]}
                            } 
}}
