;; this specify which events we want to listen to and notify then.

;; public is in GitHub terminology what is not private.

{:criver-config { 

             ;; token based auth Github
             ;; this parameter is optional! However reccomended for more rate-limiting.
             :oauth-token  "my-token"

             ;; full-repo-name: owner/repo-name,  events: this are the events which you are interested for ( https://developer.github.com/v3/activity/events/)
             ;; this events are targeting a repository. there are others for user/orgs which are interesting too. (later)
             :repository-events [
               {:full-repo-name "MalloZup/fullrocketmetal" :events["repository"] :exchange-name "metal"  },
               {:full-repo-name "MalloZup/missile" :events["repository"] :exchange-name "neox"},
               ;; add your repos here...
             ],
             
            :message-broker {
                              :type "rabbitmq" 
                              ; add your exchange-name here.
                              :exchange-names ["neox", "metal"]
                            }
 }}
