;; cosmic-river client for rabbitmq

;; read upstream rabbitmq documentation for further details
{ 
             :rabbitmq-consumers [
             ;; qe-name: queue name of consumer
             ;; exchange-name: shuould exist on the server side otherwise we can't bind
             ;; handler-shell: this is shell command that it will execute when the client receive the message.


             ;; ---------  Filters: ---------------

             ;; --key-filter::
             ;;  allow to filter events on the key-type. It get only the 1st level type, not nested.
             ;;  e.g for repo it will print {:id 133 :name "mallo" :url "bla"}
             
             ;; TODO: implment a type filter to be added to the key-filter

             ;; it should be like: key  :type "CreateEvent"
             ;; ------------------------------------------

             ;; have the possibility to filter like only a released event. ( to be thinked about if we want to expose this or not)
               {:qe-name "branzina" :exchange-name "branzini" :shell-command "uptime" :key-filter ["type", "id", "repo"] },
               {:qe-name "branzinb" :exchange-name "branzini" :shell-command "ls"},
             ]

}
