;; cosmic-river client for rabbitmq

;; read upstream rabbitmq documentation for further details
{ 
             :rabbitmq-consumers [
             ;; exchange-name: 
             ;;   create the exchange on the server side otherwise we can't bind on client.
             ;;   for each exchange-name(different or same), you can bind different handlers.
             ;;   upstream doc: exchange names: ( https://www.rabbitmq.com/tutorials/tutorial-three-python.html)
             ;; handler-shell: 
             ;;   this is shell command that it will execute when the client receive the message.              
             ;;   to the shell handler pass via environ all the msg property
            
               {:exchange-name "metal" :shell-command "./handle-event.rb" },
               {:exchange-name "neox" :shell-command "./handle-event.rb" }
]}
